.main {
  /* border: 1px solid white;  */
  height: 10%;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  align-items: center;
  border-radius: 30px;
}

.link {
  margin: 5px;
  padding: 1px;
  text-decoration: none;
  color: yellow;
}

.link:hover {
  border-bottom: 2px solid yellow;
}
